.bookings__list{
    list-style: none;
    margin: 2rem auto;
    padding: 0;
    max-height: 70vh;
    overflow-x: hidden; 
    overflow-y: scroll;
    width: 40rem;
    max-width: 90%;
    background: transparent;
}

.bookings__item{
    margin: 1rem 0;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    border: 3px solid #5101d1;
    align-items: center;
    font-weight: bold;
    color: white;
    overflow: auto;
    max-height: 70vh;
    background: linear-gradient(to right, #06cffc, #5101d1);
    border-radius: 5px;
}

.bookbtn{
    background: linear-gradient(to right, #5101d1, #06cffc);
    font: inherit;
    border: 1px solid #5101d1;
    border-radius: 3px;
    padding: 0.25rem 1rem;
    margin-right: 1rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
    color: white;
    cursor: pointer;
    font-weight: bold;
    width: 8.3rem;
}
