.bookings__list{
    list-style: none;
    margin: 12vh auto;
    margin-top: 12vh;
    padding: 0;
    max-height: 70vh;
    overflow-x: hidden; 
    overflow-y: scroll;
    width: 40rem;
    max-width: 90%;
    background: transparent;
}

.bookings__item{
    margin: 1rem 0;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    border: 3px solid #5101d1;
    align-items: center;
    font-weight: bold;
    color: white;
    overflow: auto;
    max-height: 70vh;
    background: linear-gradient(to right, #06cffc, #5101d1);
    border-radius: 5px;
}


