.event__list {
    margin-top: 2rem;
    width: 40rem;
    max-width: 90%;
    margin: 2rem auto;
    list-style: none;
    padding: 0;
    max-height: 60vh;
    background: transparent;
    border-radius: 5px;
    overflow-x: hidden; 
    overflow-y: scroll;
    overflow-block: none;
}
::-webkit-scrollbar {
    display: none;
}
