.popup{
    width: 90%;
    padding-bottom:  0.2rem;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    position: fixed;
    top: 10vh;
    left: 5%;
    border-radius: 5px;

}

.popup__header{
    padding: 1rem;
    background: linear-gradient(to right, #5101d1, red);
    color: white;
    display: flex;
    justify-content: center;
}

.popup__header h1{
    margin: 0;
    font-size: 1.25rem;
}

.popup__content{
    padding: 0.5rem;
    padding-bottom: 1.8rem;
    display: flex;
    justify-content: center;
    max-height: 1rem;
}

.btnpop{
    background: linear-gradient(to right, #5101d1, red);
    border-radius: 3px;
    border: 1px solid #6219d6;
    padding: 0.25rem 1rem;
    margin-right: 1rem;
    font: inherit;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
    color: white;
    cursor: pointer;
}

.btnpop:hover,
.btnpop:active{
    background: linear-gradient(to right, #6219d6, rgb(247, 46, 46));
    border-color: #6219d6;
}

.popup__actions{
    display: flex;
    padding: 0.15rem 0;
    padding-top: 0.4rem;
    justify-content: flex-end;
}

@media (min-width: 768px){
    .popup{
        width: 21rem;
        left: calc((100% - 30rem) / 2);
    }
}